<section class="spotlight">
  <% top_work = Work.top_work %>
  <h2 class="spotlight_header">
    Media Spotlight: <%= link_to top_work.title, work_path(top_work.id), class:"spotlight_link" %> by <%= top_work.creator %>
  </h2>
    <p class="spotlight_description"> <%= top_work.cached_votes_total %> votes. <%= top_work.description %> </p>
</section>


<section class="top_ten_container">
  <% [[@books, "Books"], [@albums, "Albums"], [@movies, "Movies"]].each do |works, category| %>
  <section class="top_ten_list_section">
    <h2 class="top_ten_header"> Top <%= category %> </h2>
     <% books = Work.top_ten_categories("book") %>
     <% books.each do |book| %>
     <ul class="list-group top_ten_list">
       <li class="list-group-item">
         <h4> <%= link_to "#{book.title}", work_path(book.id) %> <small class="top_ten_creator"> by <%= book.creator %></small> </h4>
         <p><%= book.cached_votes_total %> votes</p>
       </li>
     </ul>
   <% end %>
   </section>
 <% end %>
</section>

