<h2><%= form_title %></h2>
<%= form_with model: @work do |f| %>
  <div>
    <section>
      <%= f.label :category %>
      <%= f.select :category, [ ["album"], ["book"], ["movie"] ]  %>
    </section>
    
    <section>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </section>

    <section>
      <%= f.label :creator %>
      <%= f.text_field :creator %>
    </section>

    <section>
      <%= f.label :pub_year %>
      <%= f.text_field :pub_year %>
    </section>

    <section>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </section>

    <section>
      <%= f.submit action_name %>
    </section>
  </div>
<% end %>
