<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created by</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>

  <% works.each do |work| %>
  <tr>
    <td>
       <%= work.get_upvotes.size %>
    </td>

    <td>
      <%= link_to "#{work.title}", work_path(work.id) %>
    </td>

    <td>
      <%= work.creator %>
    </td>

    <td>
      <%= work.pub_year %>
    </td>

    <td> 
      <%= link_to "Upvote", vote_path(work.id), method: :post, class: "btn btn-primary" %> 
    </td>
  </tr>
  <% end %>


</table>