<h2><%= @work.title %></h2>

<p> Created by: <%= @work.creator %> </p>

<p> Published: <%= @work.pub_year %> </p>

<p> <%= @work.description %> </p>

<div>
  <%= link_to "Back to media ranks", works_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary" %>
  <%= link_to "Upvote", upvote_path(@work.id), method: :post, class: "btn btn-primary" %> 
  <%= link_to "Delete", work_path(@work.id), class: "btn btn-danger", method: :delete %>
</div>

<%= @work.cached_votes_total%> votes for this <%= @work.category %> 

