<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   

  <body>
    <header class="media_main_head">
      <h1 class="main-title"> 
      <a class="logo"> Media Ranker</a>
      <small class="tagline"> Ranking the Best of Everything</small>
      </h1>
  
        
    <nav class="nav-menu">
      <ul class="nav-container">
        <li class="nav-item"><%= link_to "View top media", root_path %></li>
        <li class="nav-item"><%= link_to "View all media", works_path %></li>
        <li class="nav-item"><%= link_to "Add a new work", new_work_path %></li>
        <li class="nav-item"><%= link_to "View all users", users_path %></li>
      </ul>

      <ul class="nav-container">
          <% if session[:user_id] %>
            <div class="user-link">
              <%= link_to "Logged in as #{User.find(session[:user_id]).username}", user_path(User.find_by(id: session[:user_id])), class: "btn btn-primary" %>
            </div>
            <%= button_to "Log out", logout_path(session[:user_id]), class: "btn btn-primary", method: :post %>
          <% else %>
            <%= link_to "Log in", login_path, class: "btn btn-primary"  %>
          <% end %>
      </ul>
    </nav>

    </header>

  <section class="alert-container">
   <% if flash.count > 0 %>
        <section class="flash">
          <div class="alert">
          <% flash.each do |name, message| %>
            <% if message.class == Array %>
              <ul>
              <% message.each do |msg| %>
                <li><%= name %>: <%= msg %> </li>
              <% end %>
            <% else %>
              <%= message %>
            <% end %>
              </ul>
          <% end %>
          </div>
        </section>
    <% end %>
  </section>

    <%= yield %>
  </body>
</html>


